@model IEnumerable<PermissionViewModel>

@section Scripts {
    <script>
        @{
            if (ViewData["Successful"] != null)
            {
                <text>
                                var result = '@Html.Raw(ViewData["Successful"])';
                Swal.fire({
                    title: "تمت العملية",
                    text: result,
                    icon: "success"
                });
                </text>
            }
            else if (ViewData["Failed"] != null)
            {
                <text>
                                var result = '@Html.Raw(ViewData["Failed"])';
                Swal.fire({
                    icon: "error",
                    title: "فشلت العملية",
                    text: result
                });
                </text>
            }
        }
    </script>

    <script>
        function DisplayAlert(event, element) {
            event.preventDefault();

            const form = element.closest('form');
            Swal.fire({
                title: "هل أنت متأكد من حذف الصلاحية؟",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "نعم ",
                cancelButtonText: "الغاء"
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        }
    </script>
}

<!DOCTYPE html>
<html lang="en" dir="rtl" data-theme="light">
<body>
    <section class="page_wrap">
        <div class="page_content">
            <div class="block mb-4">
                <div class="block-header border-bottom px-4 py-3">
                    <h5 class="m-0">المستخدمين</h5>
                    <div class="d-flex gap-2">
                        <div class="form-group">
                            <input type="text" class="form-control table__quick_search"
                                   placeholder="البحث السريع ...">
                        </div>
                        <a asp-action="Add" class="btn btn-primary">إضافة صلاحية</a>
                    </div>
                </div>
                <div class="block-body">
                    <table class="table table-hover js-dataTable">
                        <thead>
                            <tr>
@*                                 <th>@Html.DisplayNameFor(x => x.Id)</th>
 *@                                <th>@Html.DisplayNameFor(x => x.Username)</th>
                                <th>@Html.DisplayNameFor(x => x.RoleId)</th>
                                <th>@Html.DisplayNameFor(x => x.CollegeId)</th>
                                <th>الإجراءات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="cursor-pointer" goto="order_details.html">
@*                                     <td>@Html.DisplayFor(modelItem => item.Id)</td>
 *@                                    <td>@Html.DisplayFor(modelItem => item.Username)</td>
                                    <td>@Html.DisplayFor(modelItem => item.RoleId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CollegeId)</td>
                                    <td class="action_td text-end">
                                        <form method="post">
                                            <a asp-controller="permission" asp-action="Update" asp-route-id="@item.GUID" class="btn btn-sm btn-success">تعديل</a>
                                            <input type="hidden" name="id" value="@item.GUID" />
                                            <a asp-controller="permission" asp-action="Delete" class="btn btn-sm btn-danger" onclick="DisplayAlert(event, this)">حذف</a>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
