@{
    var fullNameAr = User.FindFirst("FullNameAr")?.Value;
    var Email = User.FindFirst("Email")?.Value;
    var userrole = User.FindFirst("Role").Value;
}
<!DOCTYPE html>
<html lang="en" dir="rtl" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لوحة التحكم  بالنظام</title>

    <!-- Favico -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/imgs/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/imgs/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/imgs/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/assets/imgs/favicon/site.webmanifest">
    <link rel="mask-icon" href="~/assets/imgs/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="~/assets/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/assets/css/root.css">


    



    <!--------- CSS Liberaries ---------->
    <!-- Data Table -->
    <link rel="stylesheet" href="~/assets/lib/DataTable/css/select.dataTables.min.css" /> 
   <link rel="stylesheet" href="~/assets/lib/DataTable/css/datatables_customization.css" /> 
    <!-- customization -->
    <link rel="stylesheet" href="~/assets/css/app_rtl.css">

</head>
<body>
    <main class="app_wrap">
        <!-- Start Side Menu -->
        <nav class="side_menu">
            <div class="logo_wrap">
                <img src="~/assets/imgs/KFU_Logo_Dark.png" alt="Logo">
            </div>

            <div class="menu_links">
                <ul>
                    <li>
                        <a href="@Url.Action("Index", "Home")" >
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 9L12 3L21 9V20C21 20.5523 20.5523 21 20 21H16C15.4477 21 15 20.5523 15 20V14H9V20C9 20.5523 8.55228 21 8 21H4C3.44772 21 3 20.5523 3 20V9Z" fill="currentColor" />
                            </svg>
                            <span>الرئيسية</span>
                        </a>
                    </li>
                    <li >
                        <a href="@Url.Action("Index", "UserCourse")">
                            <!-- New SVG Icon (Open Book) -->
                            <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21 4H13C11.9 4 11 4.9 11 6V18C11 19.1 11.9 20 13 20H21V4Z" fill="currentColor" />
                                <path d="M3 20H11V6C11 4.9 10.1 4 9 4H3V20Z" fill="currentColor" />
                            </svg>
                            <span>المقررات</span>
                        </a>
                    </li>
                    <li class="sub_menu">
                        <a href="JavaScript:void(0)">
                            <!-- New SVG Icon (Presentation Board) -->
                            <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 3H21V13H3V3Z" fill="currentColor" />
                                <path d="M9 16H15V18H9V16Z" fill="currentColor" />
                                <path d="M12 13V21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M7 21H17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>

                            <span>الجلسات</span>

                        </a>
                        <ul>

                            <li><a href="@Url.Action("SessionsRegCards", "UserRegistration")"><span>عرض الجلسات</span></a></li>
                            <li><a href="@Url.Action("UserIndex", "UserRegistration")"><span>جلساتي</span></a></li>

                        </ul>
                    </li>
                </ul>
            </div>
            <div class="btm_link">
                <button class="btn">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="0.3" width="12" height="2" rx="1" transform="matrix(-1 0 0 1 15.5 11)"
                              fill="currentColor"></rect>
                        <path d="M13.6313 11.6927L11.8756 10.2297C11.4054 9.83785 11.3732 9.12683 11.806 8.69401C12.1957 8.3043 12.8216 8.28591 13.2336 8.65206L16.1592 11.2526C16.6067 11.6504 16.6067 12.3496 16.1592 12.7474L13.2336 15.3479C12.8216 15.7141 12.1957 15.6957 11.806 15.306C11.3732 14.8732 11.4054 14.1621 11.8756 13.7703L13.6313 12.3073C13.8232 12.1474 13.8232 11.8526 13.6313 11.6927Z"
                              fill="currentColor"></path>
                        <path d="M8 5V6C8 6.55228 8.44772 7 9 7C9.55228 7 10 6.55228 10 6C10 5.44772 10.4477 5 11 5H18C18.5523 5 19 5.44772 19 6V18C19 18.5523 18.5523 19 18 19H11C10.4477 19 10 18.5523 10 18C10 17.4477 9.55228 17 9 17C8.44772 17 8 17.4477 8 18V19C8 20.1046 8.89543 21 10 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3H10C8.89543 3 8 3.89543 8 5Z"
                              fill="currentColor"></path>
                    </svg>
                    <a class="btn btn-primary px-5" asp-area="" asp-Controller="Access" asp-action="LogOut">
                    <span>تسجيل الخروج</span></a>
                </button>
            </div>
        </nav><!-- End Side Menu -->
        <!-- Start Content wrapper -->
        <section class="side_content">
            <!-- Start Header Navbar -->
            <header>
                <ul class="nav me-auto">
                    <li class="nav-item me-2">
                        <a class="nav-link btn btn-dark-rgb text-gray-800 br-10" id="menu_state_btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 26 26"
                                 stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                                 stroke-linejoin="round">
                                <path d="M6 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                                <path d="M16 4v16" />
                                <path d="M10 10l2 2l-2 2" />
                            </svg>
                        </a>
                    </li>
                    @* <li class="nav-item">
                    <div class="input-group overflow-hiddin bg-dark-rgb border-0 br-10">
                    <span class="input-group-text" id="basic-addon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M20 11v-2a2 2 0 0 0 -2 -2h-12a2 2 0 0 0 -2 2v5a2 2 0 0 0 2 2h5" />
                    <path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                    <path d="M20.2 20.2l1.8 1.8" />
                    </svg>
                    </span>
                    <input type="text" class="form-control header__search_input ps-0" placeholder="البحث ...">
                    </div>
                    </li> *@
                </ul>
                <ul class="nav d-flex align-items-center">
                    <li class="nav-item dropdown ms-2">
                        <a style="cursor: pointer; text-decoration: none; color: inherit;"
                           data-bs-toggle="dropdown" aria-expanded="false" aria-label="Account">
                            <i class="bi bi-person-circle me-2" style="font-size: 1.2rem; color: #0a626a"></i>
                            <span>219036649</span>
                        </a>

                        <ul class="dropdown-menu account_dd br-stand border-1 border-gray-300 p-4 shadow" aria-labelledby="account">
                            <li class="mb-2">
                                <div class="d-flex flex-column">
                                    <h6 class="mb-0">@fullNameAr</h6>
                                    <small class="text-muted">@Email</small>
                                </div>
                            </li>
                            <li><hr class="dropdown-divider"></li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="@Url.Action("Profile", "Home")">
                                    <i class="bi bi-person-circle me-2"></i>
                                    الملف الشخصي
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <i class="bi bi-translate me-2"></i>
                                    English Language
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" asp-area="" asp-Controller="Access" asp-action="LogOut">
                                    <i class="bi bi-box-arrow-right me-2"></i>
                                    تسجيل الخروج
                                </a>
                            </li>

                            <li><hr class="dropdown-divider"></li>

                            <!-- Logout Section -->

                        </ul>
                    </li>
                </ul>


            </header><!-- End Header Navbar -->
            <!-- Start Page Wrap -->
            <section class="page_wrap">
                <div class="page_content">
            @RenderBody()
            </div>
            </section>
    </div>

            <!-- Start Footer -->
            <footer class="d-flex justify-content-center align-items-center">
                <p class="m-0 d-flex justify-content-center">
                    جميع الحقوق محفوظة لجامعة الملك فيصل <span id="currentYear"></span>  © | تصميم وتطوير
                    عمادة التعلم الإلكتروني وتقنية المعلومات
                </p>
            </footer><!-- End Footer -->
            <!-- main JS Scripts -->
            <script src="~/assets/js/jquery-3.4.1.min.js"></script>
            <script src="~/assets/js/popper.min.js"></script>
            <script src="~/assets/js/bootstrap.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            <!--------- JS Liberaries ---------->
            <script src="~/assets/lib/DataTable/js/dataTables.min.js"></script>

            <!-- customization -->
            <script src="~/assets/js/app.js"></script>
            <script>
                document.getElementById("currentYear").textContent = new Date().getFullYear();
            </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
