@model IEnumerable<MajorViewModel>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
    var userrole = User.FindFirst("Role").Value;

}

<!DOCTYPE html>
<html lang="en" dir="rtl" data-theme="light">


<body>
    <section class="page_wrap">
        <div class="page_content">
            <div class="block mb-4">
                <div class="block-header border-bottom px-4 py-3">
                    <h5 class="m-0">التخصصات</h5>
                    <div class="d-flex gap-2">
                        <div class="form-group">
                            <input type="text" class="form-control table__quick_search"
                                   placeholder="البحث السريع ...">
                        </div>
                       @*  <a asp-action="Create" class="btn btn-primary">إضافة تخصص</a> *@
                    </div>
                </div>
                <div class="block-body">
                    <table class="table table-hover js-dataTable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(x => x.MajorNameAr)</th>
                                <th hidden>@Html.DisplayNameFor(x => x.MajorNameEn)</th>
                                <th>@Html.DisplayNameFor(x => x.CollageNameAr)</th>
                               
                              
                                <th>الإجراءات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="cursor-pointer" goto="order_details.html">
                                    <td>@Html.DisplayFor(modelItem => item.MajorNameAr)</td>
                                    <td hidden>@Html.DisplayFor(modelItem => item.MajorNameEn)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CollageNameAr)</td>
                                   
                                    <td class="action_td text-end">
                                        <a asp-action="Edit" asp-route-id="@item.GUID" class="btn btn-sm btn-success">تعديل</a>
                                        <form method="post" class="d-inline" onclick="DisplayAlert(event, this)">
                                            <input type="hidden" name="id" value="@item.GUID" />
                                            <button type="submit" class="btn btn-sm btn-danger">حذف</button>
                                        </form>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section><!-- End Page Wrap -->
    @section Scripts {


        <script>
            @{
                if (@ViewData["Successful"] != null)
                {

                    <Text>
                                        var result = '@Html.Raw(ViewData["Successful"])';

                    Swal.fire({
                        title: "تمت العملية",
                        text: result,
                        icon: "success"
                    });

                    </Text>
                }
                else if (@ViewData["Falied"] != null)
                {
                    <Text>
                                        var result = '@Html.Raw(ViewData["Falied"])';

                    Swal.fire({
                        icon: "error",
                        title: "فشلت العملية",
                        text: result

                    });
                    </Text>
                }
            }
        </script>


        <script>
            function DisplayAlert(event, element) {
                event.preventDefault();

                //   const url = element.getAttribute('href');
                const form = element.closest('form')
                Swal.fire({
                    title: "حذف تخصص",
                    text: "هل انت متأكد!؟",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "مسح",
                    cancelButtonText: "الغاء"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // window.location.href = url;
                        form.submit();
                    }
                });

            }
        </script>


    }

</body>
</html>
