@model CourseViewModel

@{
    ViewData["Title"] = "Edit";
}

<section class="page_wrap">
    <div class="page_content">
        <div class="block mb-4">
            <div class="block-header border-bottom px-4 py-4">
                <h5 class="m-0"> تعديل المقرر</h5>
            </div>
            <div class="block-body py-5">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <form asp-action="Edit">
                            <input type="hidden" asp-for="GUID" />
@*                             <input type="hidden" asp-for="Id" />
 *@                            <div class="row">
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="CourseNameAr" class="mb-1">اسم المقرر بالعربي</label>
                                        <input asp-for="CourseNameAr" type="text" placeholder="رياضيات" class="form-control">
                                        <span asp-validation-for="CourseNameAr" class="text-danger"></span>
                                    </div>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="CourseNameEn" class="mb-1">اسم المقرر بالإنجليزي</label>
                                        <input asp-for="CourseNameEn" type="text" placeholder="Math" class="form-control text-start">
                                        <span asp-validation-for="CourseNameEn" class="text-danger"></span>
                                    </div>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="CourseNum" class="mb-1">رمز المقرر</label>
                                        <input asp-for="CourseNum" type="text" placeholder="1234" class="form-control text-start">
                                        <span asp-validation-for="CourseNum" class="text-danger"></span>
                                    </div>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="LevelId" class="mb-1">مستوى المقرر</label>
                                        <select asp-for="LevelId" id="LevelId" class="form-control text-start" asp-items="ViewBag.LevelsList"> </select>
                                    </div>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="CollegeId" class="mb-1">اسم الكلية</label>
                                        <select asp-for="CollegeId" id="CollegeId" class="form-control text-start" asp-items="ViewBag.CollagesList"> </select>

                                    </div>
                                </div><!-- END ITEM -->
                                <div >
                                    <div><button type="submit" class="btn btn-primary px-5" title="save">حفظ</button></div>
                                    <div></div>
                                  
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    @{

        <script>
            @{
                if (@ViewData["Successful"] != null)
                {

                    <Text>
                     var result = '@Html.Raw(ViewData["Successful"])';

                    Swal.fire({
                        title: "تمت العملية",
                        text: result,
                        icon: "success"
                    }).then(function () {
                        window.location.href = '@Url.Action("Index", "Course")';
                    });
                    </Text>

                }
                else if (@ViewData["Falied"] != null)
                {
                    <Text>
                    var result = '@Html.Raw(ViewData["Falied"])';

                    Swal.fire({
                        icon: "error",
                        title: "فشلت العملية",
                        text: result

                    });
                    </Text>
                }
            }
        </script>

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
