@model ContentViewModel

@{
    ViewData["Title"] = "Edit";

}

<section class="page_wrap">
    <div class="page_content">

        <div class="block mb-4">
            <div class="block-header border-bottom px-4 py-4">
                <h5 class="m-0">تعديل محتوى </h5>
            </div>
            <div class="block-body py-5">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <form asp-action="Edit" method="post">
                            <div class="row">
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="CourseId" class="mb-1">إختر المقرر</label>
                                        <select asp-for="CourseId" id="CoursesId" class="form-control text-start" asp-items="ViewBag.CoursesList"></select>
                                    </div>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="TitleAr" class="mb-1">@Html.DisplayNameFor(x => x.TitleAr)</label>
                                        <input asp-for="TitleAr" type="text" placeholder="الباب الأول:"
                                               class="form-control text-start">
                                        <span asp-validation-for="TitleAr" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="TitleEn" class="mb-1">@Html.DisplayNameFor(x => x.TitleEn)</label>
                                        <input asp-for="TitleEn" type="text" placeholder="Chapter 1:"
                                               class="form-control text-start">
                                        <span asp-validation-for="TitleEn" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="ContentsAr" class="mb-1">@Html.DisplayNameFor(x => x.ContentsAr)</label>
                                        <input asp-for="ContentsAr" type="text" placeholder="اسم المحتوى"
                                               class="form-control text-start">
                                        <span asp-validation-for="ContentsAr" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="ContentsEn" class="mb-1">@Html.DisplayNameFor(x => x.ContentsEn)</label>
                                        <input asp-for="ContentsEn" type="text" placeholder="Name Of Contents"
                                               class="form-control text-start">
                                        <span asp-validation-for="ContentsEn" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="Links" class="mb-1">@Html.DisplayNameFor(x => x.Links)</label>
                                        <textarea asp-for="Links" id="Links" name="Links" rows="4" cols="50" class="form-control text-start" placeholder="الروابط"></textarea>
                                        <span asp-validation-for="Links" class="text-danger"></span>
                                        <input hidden asp-for="GUID" />
                                        <input hidden asp-for="Id" />
                                        
                                    </div>
                                </div>
                                <!-- END ITEM -->
                                <div>
                                    <button type="submit" class="btn btn-primary px-5" title="save">حفظ</button>
                                    </div>
                                </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        @{
            if (@ViewData["Successful"] != null)
            {
                <Text>
                var result = '@Html.Raw(ViewData["Successful"])';
                Swal.fire({
                    title: "تمت العملية",
                    text: result,
                    icon: "success"
                }).then(function () {
                    window.location.href = '@Url.Action("Index", "Contents")';
                });
                </Text>
            }
            else if (@ViewData["Falied"] != null)
            {
                <Text>
                var result = '@Html.Raw(ViewData["Falied"])';
                Swal.fire({
                    icon: "error",
                    title: "فشلت العملية",
                    text: result
                });
                </Text>
            }
        }
    </script>
}