@model IEnumerable<ContentViewModel>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en" dir="rtl" data-theme="light">
<body>
    <section class="page_wrap">
        <div class="page_content">
            <div class="block mb-4">
                <div class="block-header border-bottom px-4 py-3">
                    <h5 class="m-0">المحتويات</h5>
                    <div class="d-flex gap-2">
                        <div class="form-group">
                            <input type="text" class="form-control table__quick_search"
                                   placeholder="البحث السريع ...">
                        </div>
                        <a asp-action="Create" class="btn btn-primary">إضافة محتوى</a>
                    </div>
                </div>
                <div class="block-body">
                    <table class="table table-hover js-dataTable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(x => x.Id)</th>
                                <th>@Html.DisplayNameFor(x => x.CourseId)</th>
                                <th>@Html.DisplayNameFor(x => x.TitleAr)</th>
                                <th>@Html.DisplayNameFor(x => x.ContentsAr)</th>
                                <th>@Html.DisplayNameFor(x => x.Links)</th>
                                <th>@Html.DisplayNameFor(x => x.GUID)</th>
                                <th>الإجراءات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="cursor-pointer" goto="order_details.html">
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CourseId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TitleAr)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ContentsAr)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Links)</td>
                                    <td>@Html.DisplayFor(modelItem => item.GUID)</td>
                                    <td class="action_td text-end">
                                        <a asp-controller="Contents" asp-action=" " class="btn btn-sm btn-primary">عرض</a>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-success">تعديل</a>
                                        <a href="" class="btn btn-sm btn-danger">حذف</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section><!-- End Page Wrap -->
</body>
</html>
