@model IEnumerable<SessionsViewModel>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";

    var userrole = User.FindFirst("Role").Value;

}

<div class="block mb-4">
    <div class="block-header border-bottom px-4 py-3">
        <h5 class="m-0">الجلسات</h5>
        <div class="d-flex gap-2">
            <div class="form-group">
                <input type="text" class="form-control table__quick_search" placeholder="البحث السريع ...">
            </div>
        </div>
    </div>
    <div class="block-body">
        <table class="table table-hover js-dataTable">
            <thead>
                <tr>
                    @if (userrole == "SuperAdmin")
                        {
                    <th>
                        @Html.DisplayNameFor(n => n.CollegeNameAr)

                    </th>
                        }
                    <th>
                        @Html.DisplayNameFor(n => n.SessionNameAr)
                    </th>
                    <th>
                        @Html.DisplayNameFor(n => n.CourseNameAr)
                    </th>
                    <th>
                        @Html.DisplayNameFor(n => n.SessionDate)
                    </th>
                    <th>
                        الإجراءات
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="cursor-pointer">
                        @if (userrole == "SuperAdmin")
                        {
                            <td>
                                @item.CollegeNameAr

                            </td>
                        }
                        <td>@item.SessionNameAr</td>
                        <td>@item.CourseNameAr</td> 
                        <td>@item.SessionDate</td>
                        <td class="text-end">
                            <form >
                                <button class="btn btn-sm btn-primary" asp-route-id="@item.GUID" asp-action="Attend" >تحضير</button>
                                 <button class="btn btn-sm btn-success" asp-route-id="@item.GUID" asp-action="ExportAttendanceToExcel" > تحميل الاكسل</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const searchInput = document.querySelector('.table__quick_search');
            const tableRows = document.querySelectorAll('tbody tr');

            searchInput.addEventListener('input', function () {
                const searchTerm = searchInput.value.toLowerCase();

                tableRows.forEach(row => {
                    const rowText = row.innerText.toLowerCase();
                    row.style.display = rowText.includes(searchTerm) ? '' : 'none';
                });
            });
        });
    </script>
}
